@font-face {
    font-family: inhuman;
    src: url("../assets/font/InhumanBB.woff") format('woff');
}
@font-face {
    font-family: multivac;
    src: url("../assets/font/multivac-ghost.woff") format('woff');
}
@font-face 
{
    font-family: unifont;
    src: url('../assets/font/Unifont_Bottom.woff') format('woff'),
}

body * {
    font-family: inhuman;
}

#binaryBG {
    font-family: unifont;
}