/*
This CSS controls the various "title" screens of the application, i.e. when the game is NOT running
*/

.title {
    position: fixed;
    width: 97.5vw;
    max-height: 100vh;
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title *
{
    color: whitesmoke;
    text-align: center;
}

.title .titleSpacer {
    height: 10vh;
}

/* Subheader Contents */
.title * 
{
    font-size: 6vmin;
}

/* Main Header */
.title :nth-child(1)
{
    font-size: 8vmin;
}

/* Button  Contents */
.title :nth-last-child(1)
{
    font-size: 6vmin;
}

.title button {
    width: 50vw;
    height: 10vh;
    background-color: grey;
}