/*
This CSS controls the various "title" screens of the application, i.e. when the game is NOT running
*/

.title {
    position: fixed;
    width: 97.5vw;
    max-height: 100vh;
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title *
{
    color: whitesmoke;
    text-align: center;
}

.title .titleSpacer {
    height: 10vh;
}

/* Subheader Contents */
.title * 
{
    font-size: 6vmin;
}

/* Main Header */
.title :nth-child(2)
{
    font-size: 10vmin;
}

/* Button  Contents */
.title button {
    width: 50vw;
    height: 10vh;
    background-color: grey;
    font-size: 6vmin;
}


/* Volume Slider (only on main title) */
.title .titleVolume {
    width: 50vw;
    display: flex;
    align-items: center;
}

.title .titleVolume * {
    font-size: 6vmin;
    
}

.title input {
    flex: 1;
    height: 10vh;
    accent-color: whitesmoke;
}
